{
    "log_level": "DEBUG",
    "password": "DO NOT USE THIS PASSWORD",
    "salt": "caa26576-df30-4829-a84c-12b9bca8ea0e",
    "key_interval": 60,
    "pbkdf2_rounds": 100000,
    "client": {
        "port": 3333,
        "listen_host": "0.0.0.0",
        "server_host": "127.0.0.1",
        "server_port": 8888,
        "divert_banned_requests": true,
        "ssl_verify": false,
        "pin_server_cert": true,
        "known_hosts_file": "~/.nyapass/known_hosts.json"
    },
    "server": {
        "port": 443,
        "listen_host": "0.0.0.0",
        "masq_host": "www.example.com",
        "masq_port": 80,
        "masq_strip_cookies": true,
        "standalone_mode": true,
        "forwarder_host": "",
        "forwarder_port": 0,
        "banned_network_list": "chnetworks.txt",
        "banned_domains": [
            "cn",
            "bilibili.com",
            "taobao.com",
            "alicdn.com",
            "alipay.com",
            "alipayobjects.com",
            "alibaba.com",
            "aliyun.com",
            "mmstat.com",
            "cnzz.com",
            "hdslb.com",
            "weibo.com",
            "qq.com",
            "baidu.com",
            "bdstatic.com",
            "bdimg.com",
            "youku.com",
            "ykimg.com",
            "irs01.net"
        ],
        "tls_cert": "nyapass-server.crt",
        "tls_key": "nyapass-server.key",
        "tls_ciphers": "ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK"
    }
}
