{
    "log_level": "DEBUG",
    "password": "DO NOT USE THIS PASSWORD",
    "salt": "caa26576-df30-4829-a84c-12b9bca8ea0e",
    "key_interval": 60,
    "pbkdf2_rounds": 100000,
    "client": {
        "port": 3333,
        "listen_host": "0.0.0.0",
        "server_host": "127.0.0.1",
        "server_port": 8888,
        "ssl_verify": false
    },
    "server": {
        "port": 8888,
        "listen_host": "0.0.0.0",
        "masq_host": "www.example.com",
        "masq_port": 80,
        "forwarder_host": "127.0.0.1",
        "forwarder_port": 3129,
        "banned_network_list": "chnetworks.txt",
        "tls_cert": "nyapass-server.crt",
        "tls_key": "nyapass-server.key",
        "tls_ciphers": "ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK"
    }
}
